/* Written by Colm Morgan
 * 
 * Stylesheet for ProcessignJS playground
 * 
 * @project:	3d-pong
 */

canvas {
/*
	width: 800px;
	height: 600px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -300px;
	background: #000;
*/
}